
# PlanAhead Generated physical constraints 

NET "clk" LOC = C9;
NET "SPI_MOSI" LOC = T4;

# PlanAhead Generated IO constraints 

NET "SPI_MOSI" IOSTANDARD = LVCMOS33;
NET "SPI_MOSI" DRIVE = 8;

# PlanAhead Generated physical constraints 

NET "SPI_SCK" LOC = U16;

# PlanAhead Generated IO constraints 

NET "SPI_SCK" IOSTANDARD = LVCMOS33;
NET "SPI_SCK" DRIVE = 8;

# PlanAhead Generated physical constraints 

NET "DAC_CS" LOC = N8;

# PlanAhead Generated IO constraints 

NET "DAC_CS" IOSTANDARD = LVCMOS33;
NET "DAC_CS" DRIVE = 8;

# PlanAhead Generated physical constraints 

NET "DAC_CLR" LOC = P8;

# PlanAhead Generated IO constraints 

NET "DAC_CLR" IOSTANDARD = LVCMOS33;
NET "DAC_CLR" DRIVE = 8;

# PlanAhead Generated physical constraints 

NET "AMP_CS" LOC = N7;

# PlanAhead Generated IO constraints 

NET "AMP_CS" IOSTANDARD = LVCMOS33;
NET "AMP_CS" DRIVE = 6;
NET "AD_CONV" DRIVE = 6;

# PlanAhead Generated physical constraints 

NET "AD_CONV" LOC = P11;

# PlanAhead Generated IO constraints 

NET "AD_CONV" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "FPGA_INIT_B" LOC = T3;

# PlanAhead Generated IO constraints 

NET "FPGA_INIT_B" IOSTANDARD = LVCMOS33;
NET "FPGA_INIT_B" DRIVE = 4;

# PlanAhead Generated physical constraints 

NET "SF_CE0" LOC = D16;

# PlanAhead Generated IO constraints 

NET "SF_CE0" IOSTANDARD = LVCMOS33;
NET "SF_CE0" DRIVE = 4;

# PlanAhead Generated physical constraints 

NET "SPI_SS_B" LOC = U3;

# PlanAhead Generated IO constraints 

NET "SPI_SS_B" IOSTANDARD = LVCMOS33;
NET "SPI_SS_B" DRIVE = 6;
